*~
*.class
/build/*
/.classpath
/.gradle/*
/.project
/.settings/org.eclipse.jdt.core.prefs
/**/build/*
/**/.classpath
/**/.project
/**/.settings/*
/**/.externalToolBuilders/*
/**/*.class
/**/target/*
/**/bin/*
*.log
/**/*.log
*nb*
/**/nb*
/**/nb-configuration.xml
*.iml
/.idea/*
/**/.idea/*

# Package Files #
*.jar
/target/